// No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`

// Small devices (landscape phones, 576px and up)
@include media-breakpoint-up(sm) {
    #jumbotron {
        &::after {
            right: -280px;
        }
    }

    .productos {
        #sello {
            right: 23%;
            left: auto;
            width: 100px;
            height: 100px;
        }
    }
}

// Medium devices (tablets, 768px and up)
@include media-breakpoint-up(md) {
    #jumbotron {    
        #logo-jumbotron {
            max-width: 140px;
        }
    }

    .productos {
        #sello {
            right: 20%;
        }
    }

    #nuestros-productos {
        .titulo {
            &:after {
                right: auto;
                left: 0;
            }
        }

        .card {
            .card-body {
                .card-title {
                    -webkit-transform: rotate(-90deg);
                        -ms-transform: rotate(-90deg);
                            transform: rotate(-90deg);
                }
            }
        }

        &::before {
            left: 150px;
            right: auto;
        }
    }

    #productos-listado {
        &::before {
            right: 150px;
            left: auto;
        }
    }

    footer {
        nav {
            ul {
                line-height: 3rem;
            }
        }
    }
}

// Large devices (desktops, 992px and up)
@include media-breakpoint-up(lg) {
    #jumbotron {    
        #logo-jumbotron {
            max-width: 170px;
        }

        &::after {
            right: -310px;
        }
    }

    #acerca-de {
        #titulo {
            &::after {
                right: -38px;
                top: -45px;
                width: 136px;
                height: 132px;
            }
        }
    }

    .productos {
        #sello {
            bottom: 72px;
            right: 14%;
            width: 150px;
            height: 150px;
        }
    }

    #nuestros-productos {
        .titulo {
            &:after {
                right: 0;
                left: auto;
                bottom: 200px;
                width: 420px;
                height: 139px;
            }
        }

        &::before {
            left: 350px;
        }

        &::after {
            bottom: 60px;
        }
    }

    #nproductos-listado {
        &::before {
            right: 350px;
        }
    }
}

// X-Large devices (large desktops, 1200px and up)
@include media-breakpoint-up(xl) {
    #jumbotron {
        &::after {
            right: -130px;
        }
    }

    #acerca-de {
        #titulo {
            &::after {
                width: 160px;
                height: 155px;
            }
        }
    }

    .productos {
        #sello {
            bottom: 100px;
            right: 8%;
            width: 180px;
            height: 180px;
        }
    }

    #nuestros-productos {
        .titulo {
            &:after {
                right: -100px;
                width: 500px;
                height: 165px;
            }
        }

        &::before {
            left: 450px;
        }

        &::after {
            bottom: 100px;
        }
    }

    #productos-listado {
        &::before {
            right: 20%;
        }
    }
}

// XX-Large devices (larger desktops, 1400px and up)
@include media-breakpoint-up(xxl) {
    #jumbotron {
        background-position: left;
    }

    #nuestros-productos {
        &::before {
            left: 40%;
        }
    }

    #productos-listado {
        &::before {
            right: 15%;
        }
    }
}